{% for o in organizations %}
{% include "data_ownership/_data_organization_row.html" with o=o only %}
{% endfor %}
{% if organizations_has_more %}
<tr
  id="data-organizations-sentinel"
  hx-get="{% url 'data_ownership_index' %}?format=htmx-data-organizations-append&organization_q={{ organization_q|urlencode }}&offset={{ organizations_next_offset }}"
  hx-trigger="revealed"
  hx-swap="outerHTML"
  hx-push-url="false"
>
  <td colspan="4" class="is-size-7 has-text-grey py-3">
    <span class="htmx-indicator">Loading more…</span>
  </td>
</tr>
{% endif %}
