<tr>
  <td>{{ o.name }}</td>
  <td class="is-size-7 has-text-grey">{% if o.scoped_division_name %}{{ o.scoped_division_name }}{% else %}—{% endif %}</td>
  <td class="has-text-right">{{ o.domain_count }} data domain{{ o.domain_count|pluralize }}</td>
  <td class="has-text-right">
    <a class="button is-link is-light is-small" href="{% url 'organization_portal' o.pk %}">
      <span class="icon"><span class="material-icons" aria-hidden="true">settings</span></span>
      <span>Manage organization</span>
    </a>
  </td>
</tr>
